{% extends "layout.html" %}
{% block titulo %}
Agregar Cliente
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                <h3 class="is-size-3">Agregar Cliente</h3>
                <form action="{{url_for('guardar_cliente')}}" method="post">
                    <label for="nombre">Nombre:</label>
                    <input required type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
                    <label for="telefono">Telefono</label>
                    <input required type="text" class="form-control" placeholder="Teléfono" name="telefono" id="telefono">
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{{url_for('clientes')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}